mark {
    background-color: transparent;
    color: royalblue;
}

h1 {
    text-align: center;
}

h2 {
    border: none;
}

main a {
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

.nextra-cards a:hover {
    text-decoration: none;
}

em {
    font-style: normal;
    color: indianred;
}

strong {
    color: steelblue;
}

main a {
    color: indianred;
}

kbd {
    display: none;
}

.nextra-sidebar {
    width: 160px;
}

.nextra-toc {
    width: 200px;
}

@media screen and (min-width: 768px) {
    .searchbox,
    .searchbox input {
        width: 162px;
    }
}

.nextra-scrollbar {
    scrollbar-width: none;
}

.nextra-search input:focus {
    box-shadow: none;
    background-color: #b7b7b730;
}

.nextra-navbar-blur {
    background-color: transparent;
    backdrop-filter: none;
    border: none;
}

.nextra-breadcrumb {
    display: none;
}

.nextra-navbar .nextra-scrollbar {
    display: none;
}

button[aria-label="Minimize image"] {
    opacity: 0;
}

div[data-rmiz-modal-overlay="visible"] {
    background-color: white;
}

@media (prefers-color-scheme: dark) {
    div[data-rmiz-modal-overlay="visible"] {
        background-color: black;
    }
}

.nextra-toc .nextra-scrollbar li a {
    font-weight: 300 !important;
}

.nextra-toc .nextra-scrollbar li a:hover {
    color: var(--x-color-primary-600);
}
