@media (min-width: 768) {
    .nextra-search {
        width: 220px;
    }
}

mark {
    background-color: transparent;
    color: royalblue;
}

h1 {
    text-align: center;
}

h2 {
    border: none;
}

a {
    text-decoration: none;
}

em {
    font-style: normal;
    color: indianred;
}

.nextra-sidebar {
    width: 160px;
}

.nextra-scrollbar {
    scrollbar-width: none;
}

.nextra-search input:focus {
    box-shadow: none;
    background-color: #b7b7b730;
}

.nextra-navbar-blur {
    background-color: transparent;
    backdrop-filter: none;
    border: none;
}

.nextra-breadcrumb {
    display: none;
}

.nextra-navbar .nextra-scrollbar {
    display: none;
}

button[aria-label="Minimize image"] {
    opacity: 0;
}

div[data-rmiz-modal-overlay="visible"] {
    background-color: white;
}

.nextra-toc .nextra-scrollbar li a {
    font-weight: 300 !important;
}

.nextra-toc .nextra-scrollbar li a:hover {
    color: var(--x-color-primary-600);
}

.nextra-callout {
    background-color: #556b2f0f;
    border-color: darkolivegreen;
    color: darkolivegreen;
}
